@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");
.navbar-nav {
  float: left;
  margin: 0;
  margin-top: 7px;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 0px;
  margin-bottom: 0px;
}

.containerStyle {
  width: "100%";
  height: "100%";
}

.btn-group > .btn:first-child {
  margin-left: 0;
  margin-right: 5px;
}

.btn-group {
  display: inline;
}

.titleFont {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5em;
  color: black;
}

.nav-log {
  display: inline-flex;
  list-style-type: none;
}
.nav-margin {
  margin-left: 10%;
  margin-top: 5px;
}

.nav-right {
  margin-right: 0px;
}

.navbar-default .navbar-text {
  color: #777;
  display: inline-flex;
}

.navbar-default .navbar-text {
  color: #777;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* text-align: center; */
  margin-top: 0px;
  padding-top: 10px;
}

.nav-margin {
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-space {
  margin-left: 10px;
}

.col-md-6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.stick {
 position: sticky;
 top: 0;
 z-index: 9999;
}

.current-user {
  display: block;
  margin-right: 60px;
  white-space: nowrap;
}

.li-ef:hover {  
    background-color: rgba(106, 255, 46, 0.37);
}
.fa-heart:before {
  content: "\f004";
  color: red;
}

.ordered_list {
  overflow:hidden;
  overflow-y:scroll;
  height: 200px;
}

@media screen and (min-width: 992px) {
  .row {
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    padding-left: 30%;
    padding-right: auto;
}
}

@media screen and (min-width: 992px) {
  .row-modal {
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    padding-left: 0px;
    padding-right: auto;
}
}

@media screen and (min-width: 768px) {
  .container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
}